<!-- <h1>
  {{title}}
</h1>

<first> </first>
<second> </second>
<content> 
  <h2 class="content-header"> Titulo </h2>
  <h3 class="content-body">
     <img src="../favicon.ico"> 
  </h3>
</content>


<databinding> </databinding>

<inputoutput #myControl [myValue]="'mi valor'" (myClick)="onMyClick($event)" (otherClick)="onOtherClick()"> </inputoutput>

<class-style [isFavorite]="true"> </class-style>

<pipes> </pipes>

<myif [red]="false" > </myif>
<myif [blue]="false" > </myif>
<myif [red]="false" [blue]="false"> </myif>

<myfor> </myfor>

<myswitch> </myswitch>

<login> </login>

<myform></myform> -->

<h2> Routing </h2>

<router-outlet> </router-outlet>